<html>

<body>
    {{#each animalInfo}}
    <div class="pet">
        <div class="photo-column">
            <img src="{{image}}">
        </div>

        <div class="info-column">
            <h3 class="card-title text-center">{{animal.name}}</h3>
            <h5 class=" card-text text-center">City: {{animal.contact.address.city}}</h5>
            <h6 class="card-text text-center">State: {{animal.contact.address.state}}</h6>
            <ul class="list-group">
                <li class="list-group-item">Age: {{animal.age}}</li>
                <li class="list-group-item">Gender: {{animal.gender}}</li>
                <li class="list-group-item">Size:{{animal.size}}</li>
                <li class="list-group-item">Email: {{animal.contact.email}}</li>
                <li class="list-group-item">Phone: {{animal.contact.phone}}</li>
                <li class="list-group-item">Shelter ID: {{animal.organization_id}}</li>
            </ul>

        </div>
    </div>
    {{/each}}

</body>

</html>