Fav Page
    <div class="album py-5 bg-light">
        <div class="container">
            <div class="row">
                {{#each animalObj.animals}}
                <div class="col-md-4">
                    <div class="card mb-4 box-shadow">
                        <img class="card-img-top" src={{photos.[0].full}} alt="Card image cap">
                        <div class="card-body">ß
                            <p class="card-text">
                            <ul class="list-group">
                                <li class="list-group-item">Age: {{age}}</li>
                                <li class="list-group-item">Gender: {{gender}}</li>
                                <li class="list-group-item">Size: {{size}}</li>
                                <li class="list-group-item">Email: {{contact.email}}</li>
                                <li class="list-group-item">Phone: {{contact.phone}}</li>
                                <li class="list-group-item">Shelter ID: {{organization_id}}</li>
                            </ul>
                            </p>
                            <div class="d-flex justify-content-between align-items-center">
                                <div class="btn-group">
                                    <button type="button" class="btn btn-sm btn-outline-secondary">View</button>
                                    <button type="button" class="btn btn-sm btn-outline-secondary">Edit</button>
                                </div>
                                <small class="text-muted">9 mins</small>
                            </div>
                        </div>
                    </div>
                </div>
                {{/each}}
            </div>
        </div>
    </div>