<div id="home">
    <div class="container">
        <div class="row">
            <div class="col-8 offset-2">
                <h2> {{message}} {{username}}</h2>
                <h2>This is our Home Page!</h2>
            </div>
        </div>
    </div>
</div>

<form class="pet-form" actions="/" method="POST">
    <div class="form-group">
        <label for="animal"><strong>Animal</strong></label><br/>
        <select id="animal" name="animal" class="form-control form-control-lg mb-3" required>
            <option value="cat">Cat</option>
            <option value="dog">Dog</option>
            <option value="bird">Bird</option>
            <option value="rabbit">Rabbit</option>
        </select><br/>
        <label for="size"><strong>Size</strong></label><br/>
            <input name="size" value="small" type="checkbox"/> Small<br />
            <input name="size" value="medium" type="checkbox"/> Medium<br />
            <input name="size" value="large" type="checkbox"/> Large<br /> 
            <input name="size" value="xlarge" type="checkbox"/> XLarge<br /> 
        <label for="gender"><strong>Gender</strong></label><br/>
            <input name="gender" value="female" type="checkbox"/> Female <br/>
            <input name="gender" value="male" type="checkbox" /> Male <br/>
            <input name="gender" value="unknown" type="checkbox" value="1"> Unknown <br/>
        <label for="age"><strong>Age</strong></label><br/>
            <input name="age" value="baby" type="checkbox"/>Baby<br/>
            <input name="age" value="young" type="checkbox"/>Young<br/>
            <input name="age" value="adult" type="checkbox"/>Adult<br/>
            <input name="age" value="senior" type="checkbox"/>Senior<br/>
        <label for="coat"><strong>Coat</strong></label><br/>
            <input name="coat" value="short" type="checkbox"/>Short<br/>
            <input name="coat" value="medium" type="checkbox"/>Medium<br/>
            <input name="coat" value="long" type="checkbox"/>Long<br/>
            <input name="coat" value="wire" type="checkbox"/>Wire<br/>
            <input name="coat" value="hairless" type="checkbox"/>Hairless<br/>
            <input name="coat" value="curly" type="checkbox"/>Curly<br/>
        <input name="goodwithchildren" value="goodwithchildren" type="checkbox"><strong>Good with children</strong><br/>
        <input name="goodwithdogs" value="goodwithdogs" type="checkbox"><strong>Good with dogs</strong><br/>
        <input name="goodwithcats" value="goodwithdogs" type="checkbox"><strong>Good with cats</strong><br/>
        <label for="zipcode">Zipcode:</label><br/>
        <input type="text" id="zip" name="zip" class="form-control form-control-lg" placeholder="Enter your zipcode" pattern="[0-9]{5}" title="Five digit zip code">
        <button type="submit" class="btn btn-dark btn-lg btn-block mt-3">
    </div>
</form>
{{#each animalObj.animals}}

<div class="card">
    <img class="img-fluid rounded-circle mt-2" src={{photos.[0].full}}>
    <div class="card-body">
        <h3 class="card-title text-center">{{name}}</h3>
        <h5 class="card-text text-center">City: {{contact.address.city}}</h5>
        <h6 class="card-text text-center">State: {{contact.address.state}}</h6>
        <ul class="list-group">
            <li class="list-group-item">Age: {{age}}</li>
            <li class="list-group-item">Gender: {{gender}}</li>
            <li class="list-group-item">Size: {{size}}</li>
            <li class="list-group-item">Email: {{contact.email}}</li>
            <li class="list-group-item">Phone: {{contact.phone}}</li>
            <li class="list-group-item">Shelter ID: {{organization_id}}</li>
        </ul>
    </div>
</div>
<br>
{{/each}}