<header>
    <div class="collapse bg-dark" id="navbarHeader">
        <div class="container">
            <div class="row">
                <div class="col-sm-8 col-md-7 py-4">
                    <h4 class="text-white">About</h4>
                    <p class="text-muted">This is our pet adoption site!</p>
                </div>
                <div class="col-sm-4 offset-md-1 py-4">
                    <ul class="list-unstyled">
                        <li><a href="/" class="text-white">Home</a></li>
                        <li><a href="/login" class="text-white">Login</a></li>
                        <li><a href="/register" class="text-white">Register</a></li>
                        <li><a href="/detail" class="text-white">Detail</a></li>
                        <li><a href="/favs" class="text-white">Favorites</a></li>

                    </ul>
                </div>
            </div>
        </div>
    </div>
    <div class="navbar navbar-dark bg-dark box-shadow">
        <div class="container d-flex justify-content-between">
            <a href="/" class="navbar-brand d-flex align-items-center">
                <strong>Welcome {{username}}!</strong>
            </a>
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarHeader"
                aria-controls="navbarHeader" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
        </div>
    </div>
    </header>

    <main role="main">
        <section class="jumbotron text-center">
            <div class="container">
                <img src="..\images\logo.png" alt="Test">

                <p>
                    <form class="pet-form" action="/" method="post">
                        <div class="form-group">
                            <label for="animal"><strong>Animal</strong></label>
                            <select id="animal" name="animal" class="form-control form-control-lg mb-3">
                                <option value="cat">Cat</option>
                                <option value="dog">Dog</option>
                                <option value="bird">Bird</option>
                                <option value="rabbit">Rabbit</option>
                            </select>
                            <label for="zipcode">Zipcode:</label>
                            <input type="text" id="zip" name="zip" class="form-control form-control-lg"
                                placeholder="Enter your zipcode" pattern="[0-9]{5}" title="Five digit zip code">
                        </div>
                    </form>
                </p>
            </div>
            <div class="row">
                <div class="col-md-2">
                    <label for="size"><strong>Size</strong></label><br />
                    <input name="size" value="small" type="checkbox" /> Small<br />
                    <input name="size" value="medium" type="checkbox" /> Medium<br />
                    <input name="size" value="large" type="checkbox" /> Large<br />
                    <input name="size" value="xlarge" type="checkbox" /> XLarge<br />
                </div>
                <div class="col-md-2">
                    <label for="gender"><strong>Gender</strong></label><br />
                    <input name="gender" value="female" type="checkbox" /> Female <br />
                    <input name="gender" value="male" type="checkbox" /> Male <br />
                    <input name="gender" value="unknown" type="checkbox" value="1"> Unknown <br />
                </div>
                    <div class="col-md-2">
                        <label for="age"><strong>Age</strong></label><br />
                        <input name="age" value="baby" type="checkbox" />Baby<br />
                        <input name="age" value="young" type="checkbox" />Young<br />
                        <input name="age" value="adult" type="checkbox" />Adult<br />
                        <input name="age" value="senior" type="checkbox" />Senior<br />
                    </div>
                        <div class="col-md-2">
                            <label for="coat"><strong>Coat</strong></label><br />
                            <input name="coat" value="short" type="checkbox" />Short<br />
                            <input name="coat" value="medium" type="checkbox" />Medium<br />
                            <input name="coat" value="long" type="checkbox" />Long<br />
                            <input name="coat" value="wire" type="checkbox" />Wire<br />
                            <input name="coat" value="hairless" type="checkbox" />Hairless<br />
                            <input name="coat" value="curly" type="checkbox" />Curly<br />
                        </div>
                    <div class="col-md-2">
                        <input name="goodwithchildren" value="true" type="checkbox"><strong>Good with children</strong><br />
                        <input name="goodwithdogs" value="true" type="checkbox"><strong>Good with dogs</strong><br />
                        <input name="goodwithcats" value="true" type="checkbox"><strong>Good with cats</strong><br />
                    </div>
                    </div>
                    <input type="submit" value="Find" class="btn btn-dark btn-lg btn-block mt-3">
                </div>
                </form>
        </section>

        <div class="album py-5 bg-light">
            <div class="container">

                <div class="row">
                    <div class="col-md-4">
                        <div class="card mb-4 box-shadow">
                            <img class="card-img-top"
                                data-src="holder.js/100px225?theme=thumb&bg=55595c&fg=eceeef&text=Thumbnail"
                                alt="Card image cap">
                            <div class="card-body">
                                <p class="card-text">This is a wider card with supporting text below as a natural
                                    lead-in to additional content. This content is a little bit longer.</p>
                                <div class="d-flex justify-content-between align-items-center">
                                    <div class="btn-group">
                                        <button type="button" class="btn btn-sm btn-outline-secondary">View</button>
                                        <button type="button" class="btn btn-sm btn-outline-secondary">Edit</button>
                                    </div>
                                    <small class="text-muted">9 mins</small>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-4">
                        <div class="card mb-4 box-shadow">
                            <img class="card-img-top"
                                data-src="holder.js/100px225?theme=thumb&bg=55595c&fg=eceeef&text=Thumbnail"
                                alt="Card image cap">
                            <div class="card-body">
                                <p class="card-text">This is a wider card with supporting text below as a natural
                                    lead-in to additional content. This content is a little bit longer.</p>
                                <div class="d-flex justify-content-between align-items-center">
                                    <div class="btn-group">
                                        <button type="button" class="btn btn-sm btn-outline-secondary">View</button>
                                        <button type="button" class="btn btn-sm btn-outline-secondary">Edit</button>
                                    </div>
                                    <small class="text-muted">9 mins</small>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-4">
                        <div class="card mb-4 box-shadow">
                            <img class="card-img-top"
                                data-src="holder.js/100px225?theme=thumb&bg=55595c&fg=eceeef&text=Thumbnail"
                                alt="Card image cap">
                            <div class="card-body">
                                <p class="card-text">This is a wider card with supporting text below as a natural
                                    lead-in to additional content. This content is a little bit longer.</p>
                                <div class="d-flex justify-content-between align-items-center">
                                    <div class="btn-group">
                                        <button type="button" class="btn btn-sm btn-outline-secondary">View</button>
                                        <button type="button" class="btn btn-sm btn-outline-secondary">Edit</button>
                                    </div>
                                    <small class="text-muted">9 mins</small>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="col-md-4">
                        <div class="card mb-4 box-shadow">
                            <img class="card-img-top"
                                data-src="holder.js/100px225?theme=thumb&bg=55595c&fg=eceeef&text=Thumbnail"
                                alt="Card image cap">
                            <div class="card-body">
                                <p class="card-text">This is a wider card with supporting text below as a natural
                                    lead-in to additional content. This content is a little bit longer.</p>
                                <div class="d-flex justify-content-between align-items-center">
                                    <div class="btn-group">
                                        <button type="button" class="btn btn-sm btn-outline-secondary">View</button>
                                        <button type="button" class="btn btn-sm btn-outline-secondary">Edit</button>
                                    </div>
                                    <small class="text-muted">9 mins</small>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-4">
                        <div class="card mb-4 box-shadow">
                            <img class="card-img-top"
                                data-src="holder.js/100px225?theme=thumb&bg=55595c&fg=eceeef&text=Thumbnail"
                                alt="Card image cap">
                            <div class="card-body">
                                <p class="card-text">This is a wider card with supporting text below as a natural
                                    lead-in to additional content. This content is a little bit longer.</p>
                                <div class="d-flex justify-content-between align-items-center">
                                    <div class="btn-group">
                                        <button type="button" class="btn btn-sm btn-outline-secondary">View</button>
                                        <button type="button" class="btn btn-sm btn-outline-secondary">Edit</button>
                                    </div>
                                    <small class="text-muted">9 mins</small>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-4">
                        <div class="card mb-4 box-shadow">
                            <img class="card-img-top"
                                data-src="holder.js/100px225?theme=thumb&bg=55595c&fg=eceeef&text=Thumbnail"
                                alt="Card image cap">
                            <div class="card-body">
                                <p class="card-text">This is a wider card with supporting text below as a natural
                                    lead-in to additional content. This content is a little bit longer.</p>
                                <div class="d-flex justify-content-between align-items-center">
                                    <div class="btn-group">
                                        <button type="button" class="btn btn-sm btn-outline-secondary">View</button>
                                        <button type="button" class="btn btn-sm btn-outline-secondary">Edit</button>
                                    </div>
                                    <small class="text-muted">9 mins</small>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="col-md-4">
                        <div class="card mb-4 box-shadow">
                            <img class="card-img-top"
                                data-src="holder.js/100px225?theme=thumb&bg=55595c&fg=eceeef&text=Thumbnail"
                                alt="Card image cap">
                            <div class="card-body">
                                <p class="card-text">This is a wider card with supporting text below as a natural
                                    lead-in to additional content. This content is a little bit longer.</p>
                                <div class="d-flex justify-content-between align-items-center">
                                    <div class="btn-group">
                                        <button type="button" class="btn btn-sm btn-outline-secondary">View</button>
                                        <button type="button" class="btn btn-sm btn-outline-secondary">Edit</button>
                                    </div>
                                    <small class="text-muted">9 mins</small>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-4">
                        <div class="card mb-4 box-shadow">
                            <img class="card-img-top"
                                data-src="holder.js/100px225?theme=thumb&bg=55595c&fg=eceeef&text=Thumbnail"
                                alt="Card image cap">
                            <div class="card-body">
                                <p class="card-text">This is a wider card with supporting text below as a natural
                                    lead-in to additional content. This content is a little bit longer.</p>
                                <div class="d-flex justify-content-between align-items-center">
                                    <div class="btn-group">
                                        <button type="button" class="btn btn-sm btn-outline-secondary">View</button>
                                        <button type="button" class="btn btn-sm btn-outline-secondary">Edit</button>
                                    </div>
                                    <small class="text-muted">9 mins</small>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-4">
                        <div class="card mb-4 box-shadow">
                            <img class="card-img-top"
                                data-src="holder.js/100px225?theme=thumb&bg=55595c&fg=eceeef&text=Thumbnail"
                                alt="Card image cap">
                            <div class="card-body">
                                <p class="card-text">This is a wider card with supporting text below as a natural
                                    lead-in to additional content. This content is a little bit longer.</p>
                                <div class="d-flex justify-content-between align-items-center">
                                    <div class="btn-group">
                                        <button type="button" class="btn btn-sm btn-outline-secondary">View</button>
                                        <button type="button" class="btn btn-sm btn-outline-secondary">Edit</button>
                                    </div>
                                    <small class="text-muted">9 mins</small>
                                </div>
                            </div>
                        </div>
                    
                        <div id="home">
                            <div class="container">
                                <div class="row">
                                    <div class="col-8 offset-2">
                                        <h2> {{message}} {{username}}</h2> <br><br>

                                    </div>
                                </div>
                            </div>
                            </div> </main> <footer class="text-muted">
                                <div class="container">
                                    <p class="float-right">
                                        <a href="#">Back to top</a>
                                    </p>
                                </div>
                                </footer>
                        </div>
                    </div>


                    {{#each animalObj.animals}}

                    <div class="card">
                        <img class="img-fluid rounded-circle mt-2" src={{photos.[0].full}}>
                        <div class="card-body">
                            <h3 class="card-title text-center">{{name}}</h3>
                            <h5 class="card-text text-center">City: {{contact.address.city}}</h5>
                            <h6 class="card-text text-center">State: {{contact.address.state}}</h6>
                            <ul class="list-group">
                                <li class="list-group-item">Age: {{age}}</li>
                                <li class="list-group-item">Gender: {{gender}}</li>
                                <li class="list-group-item">Size: {{size}}</li>
                                <li class="list-group-item">Email: {{contact.email}}</li>
                                <li class="list-group-item">Phone: {{contact.phone}}</li>
                                <li class="list-group-item">Shelter ID: {{organization_id}}</li>
                            </ul>
                        </div>
                    </div>
                    <br>
                    {{/each}}
