<div id="home">
    <div class="container">
        <div class="row">
            <div class="col-8 offset-2">
                <h1>{{msg}}</h1>
                <h2>This is our Home/Search Page!</h2>
            </div>
        </div>
    </div>
</div>
<a href="/favs"><button id="fav" class="btn btn-primary float-right">Favs</button></a>
<a href="/"><button id="home" class="btn btn-primary float-right">Home</button></a>
<a href="/login"><button id="login" class="btn btn-primary float-right">Login</button></a>
<a href="/register"><button id="reg" class="btn btn-primary float-right">Register</button></a>
<a href="/detail"><button id="reg" class="btn btn-primary float-right">Detail</button></a>
<a href="/api/users"><button id="reg" class="btn btn-primary float-right">User API</button></a>
<a href="/api/favs"><button id="reg" class="btn btn-primary float-right">Fav API</button></a>

<form class="pet-form" actions="/" method="POST">
    <div class="form-group">
        <label for="animal"><strong>Animal</strong></label>
        <select id="animal" name="animal" class="form-control form-control-lg mb-3">
            <option value="cat">Cat</option>
            <option value="dog">Dog</option>
            <option value="bird">Bird</option>
            <option value="rabbit">Rabbit</option>
        </select>
        <label for="zipcode">zipcode:</label>
        <input type="text" id="zip" name="zip" class="form-control form-control-lg" placeholder="Enter your zipcode" pattern="[0-9]{5}" title="Five digit zip code">
        <input type="submit" value="Find" class="btn btn-dark btn-lg btn-block mt-3">
    </div>
</form>

{{#each animalObj}}
<div class="card">
    <img class="img-fluid rounded-circle mt-2" src={{image}}>
    <div class="card-body">
        <h3 class="card-title text-center">{{animals.name}}</h3>
        <h5 class="card-text text-center">City: {{contact.address.city}}</h5>
        <h6 class="card-text text-center">State: {{contact.address.state}}</h6>
        <ul class="list-group">
            <li class="list-group-item">Age: {{age}}</li>
            <li class="list-group-item">Gender: {{gender}}</li>
            <li class="list-group-item">Size: {{size}}</li>
            <li class="list-group-item">Email: {{contact.email}}</li>
            <li class="list-group-item">Phone: {{contact.phone}}</li>
            <li class="list-group-item">Shelter ID: {{organization_id}}</li>
        </ul>
    </div>
</div>
<br>
{{/each}}