<main role="main">
    <section class="jumbotron text-center">
        <div class="container">
            <img src="logo.png" alt="Test">
            <p class="lead text-muted"> Find your furrrrend </p>
            <p>
                <form class="pet-form" actions="/" method="POST">
                    <div class="form-group">
                        <label for="animal"><strong>Animal</strong></label><br />
                        <select id="animal" name="animal" class="form-control form-control-lg mb-3" required>
                            <option value="cat">Cat</option>
                            <option value="dog">Dog</option>
                            <option value="bird">Bird</option>
                            <option value="rabbit">Rabbit</option>
                        </select><br />
                        <label for="zipcode"><strong>Zipcode:</strong></label><br />
                        <input type="text" id="zip" name="zip" class="form-control form-control-lg"
                            placeholder="Enter your zipcode" pattern="[0-9]{5}" title="Five digit zip code" required><br />
                        <div class="row">
                            <div class="col-md-3">
                                <label for="size"><strong>Size</strong></label><br />
                                <input name="size" value="small" type="checkbox" /> Small<br />
                                <input name="size" value="medium" type="checkbox" /> Medium<br />
                                <input name="size" value="large" type="checkbox" /> Large<br />
                                <input name="size" value="xlarge" type="checkbox" /> XLarge<br />
                            </div>
                            <div class="col-md-2">
                                <label for="gender"><strong>Gender</strong></label><br />
                                <input name="gender" value="female" type="checkbox" /> Female <br />
                                <input name="gender" value="male" type="checkbox" /> Male <br />
                                <input name="gender" value="unknown" type="checkbox" value="1"> Unknown <br />
                            </div>
                            <div class="col-md-2">
                                <label for="age"><strong>Age</strong></label><br />
                                <input name="age" value="baby" type="checkbox" />Baby<br />
                                <input name="age" value="young" type="checkbox" />Young<br />
                                <input name="age" value="adult" type="checkbox" />Adult<br />
                                <input name="age" value="senior" type="checkbox" />Senior<br />
                            </div>
                            <div class="col-md-2">
                                <label for="coat"><strong>Coat</strong></label><br />
                                <input name="coat" value="short" type="checkbox" />Short<br />
                                <input name="coat" value="medium" type="checkbox" />Medium<br />
                                <input name="coat" value="long" type="checkbox" />Long<br />
                                <input name="coat" value="wire" type="checkbox" />Wire<br />
                                <input name="coat" value="hairless" type="checkbox" />Hairless<br />
                                <input name="coat" value="curly" type="checkbox" />Curly<br />
                            </div>
                            <div class="col-md-2">
                                <input name="goodwithchildren" value="true" type="checkbox">Good with
                                    children<br />
                                <input name="goodwithdogs" value="true" type="checkbox">Good with
                                    dogs<br />
                                <input name="goodwithcats" value="true" type="checkbox">Good with
                                    cats<br />
                            </div>
                        </div>
                        <button type="submit" class="btn btn-info btn-lg btn-block mt-3">Search</button>
                    </div>
                </form>
            </p>
        </div>
    </section>

    <!-- added if statement for a default pic if image is not available in the search -->
    <div class="album py-5 bg-light">
        <div class="container">
            <div class="row">
                {{#each animalObj.animals}}
                {{#if photos.[0].full }}
                <div class="col-md-4">

                    <div class="card mb-4 box-shadow">

                        <img class="card-img-top" src={{photos.[0].full}} alt="Card image cap">
                        <div class="card-body">
                            <p class="card-text">
                            <ul class="list-group">
                                <li class="list-group-item">Age: {{age}}</li>
                                <li class="list-group-item">Gender: {{gender}}</li>
                                <li class="list-group-item">Size: {{size}}</li>
                                <li class="list-group-item">Email: {{contact.email}}</li>
                                <li class="list-group-item">Phone: {{contact.phone}}</li>
                                <li class="list-group-item">Shelter ID: {{organization_id}}</li>
                            </ul>
                            </p>
                            <div class="d-flex justify-content-between align-items-center">
                                <div class="btn-group">
                                    <button type="button" class="btn btn-sm btn-outline-secondary"><a href={{url}}
                                            target="_blank">View</a></button>
                                    <button type="button" class="fav btn btn-sm btn-outline-secondary"><a
                                            class="btn add-to-favorites-button" data-toggle="tooltip"
                                            data-placement="right" title="Add to Favorites"><i class="far fa-star"
                                                data-state="false" id={{id}}></i></a></button>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                {{else}}
                <div class="col-md-4">
                    <div class="card mb-4 box-shadow">
                        <img class="card-img-top" src="logo.png" alt="Card image cap">
                        <div class="card-body">
                            <p class="card-text">
                            <ul class="list-group">
                                <li class="list-group-item">Age: {{age}}</li>
                                <li class="list-group-item">Gender: {{gender}}</li>
                                <li class="list-group-item">Size: {{size}}</li>
                                <li class="list-group-item">Email: {{contact.email}}</li>
                                <li class="list-group-item">Phone: {{contact.phone}}</li>
                                <li class="list-group-item">Shelter ID: {{organization_id}}</li>
                            </ul>
                            </p>
                            <div class="d-flex justify-content-between align-items-center">
                                <div class="btn-group">
                                    <button type="button" class="btn btn-sm btn-outline-secondary"><a href={{url}}
                                            target="_blank">View</a></button>
                                    <button type="button" class="fav btn btn-sm btn-outline-secondary"><a
                                            class="btn add-to-favorites-button" data-toggle="tooltip"
                                            data-placement="right" title="Add to Favorites"><i class="far fa-star"
                                                data-state="false" id={{id}}></i></a></button>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                {{/if}}
                {{/each}}
            </div>
        </div>
    </div>

</main>

<footer class="text-muted">
    <div class="container">
        <p class="float-right">
            <a href="#">Back to top</a>
        </p>
    </div>
</footer>
